<form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
    <div class="login-form">
      <div class="form-title">Login</div>
  
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="User ID" formControlName="userID" required>
          <div *ngIf="userID?.invalid && (userID?.dirty || userID?.touched)" class="error-message">
            Please enter a valid username
          </div>
         </mat-form-field>
     </div>
  
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
              Please enter a valid password with minimum length of 6 characters
          </div>
        </mat-form-field>
      </div>
  
      <button mat-raised-button type="submit">Login</button>
    </div>
  </form>
  